<h2 id="menu-manual">Menu</h2>
<h5 class="mb-3">Tworzenie nowej pozycji menu:</h5>
<div>
    <p>1.Klikamy w <u>MENU</u> w lewej kolumnie</p>
    <p>2.Po ustawieniu kursora na wybrane pole pojawi się możliwość przejścia do poszczególnych pozycji menu.<br>
        <img src="{{ asset('bundles/twinelementsmanual/menu/menu-positions.png') }}" alt=""></p>
    <p>3.W prawym górnym rogu należy kliknąć przycisk <u>Dodaj</u> <img
                src="{{ asset('bundles/twinelementsmanual/add-button.png') }}" alt=""></p>
    <div>
        <span>4.Pojawi się formularz, który należy uzupełnić.</span>
        <ul>
            <li>
                Pole <b>Tytuł</b>: Jest to nazwa, która będzie wyświetlać się na stronie
            </li>
            <li class="mb-5">
                Pole <b>Przekierowanie</b>: Decydujemy, gdzie ma prowadzić dana pozycja menu. Wybieramy <u>stronę</u>, <u>link bezpośredni</u> albo link do innego modułu (np. Kategorie wpisów).<br>
                    <img src="{{ asset('bundles/twinelementsmanual/choose-link.png') }}" alt="" class="border mb-5"><br>
                <h6 class="d-flex align-items-center"><span class="badge badge-info mr-2">Przykład</span>Link z wybranym przekierowaniem do Aktualności</h6>
                <img src="{{ asset('bundles/twinelementsmanual/choose-link-news.png') }}" alt="" class="border">
            </li>
            <li>
                Pole <b>Strona nadrzędna</b>: Uzupełniamy, jeżeli tworzona pozycja ma być podporządkowana pod inną pozycję menu (wówczas tworzy się tzw. menu rozwijane)<br>
                <img src="{{ asset('bundles/twinelementsmanual/menu/menu-second-floor.png') }}" alt="">
            </li>
        </ul>
    </div>
</div>
